.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  
.pink-text {
  color: #d5006d; /* Change to your desired pink color */
}

.mat-mdc-button-ripple {
  background-color: red;
}