.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 90%;
  margin: auto;
}

.form {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.search-input {
  font-size: 16px;
  padding: 8px;
}

.custom-table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.mat-header-row {
  background: linear-gradient(135deg, #007BFF, #00BCD4);
  color: white;
  font-weight: bold;
}

.mat-header-cell {
  text-align: left;
  padding: 10px 20px;
}

.mat-cell {
  padding: 12px 20px;
}

.mat-row {
  transition: background 0.3s ease, transform 0.2s ease;
}

.mat-row:hover {
  background: #e3f2fd;
  transform: scale(1.01);
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 18px;
  color: #757575;
  font-style: italic;
}

button.mat-icon-button {
  margin: 0 6px;
}

.mat-paginator {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 8px 0;
}


.edit-btn, .delete-btn {
  transition: transform 0.2s, background 0.3s;
  border-radius: 50%;
  padding: 10px;
}

.edit-btn:hover {
  background: #ffc107;
  transform: scale(1.1);
}

.delete-btn:hover {
  background: #f44336;
  transform: scale(1.1);
}
