<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar__style">
    <!-- Left Section -->
    <div class="left__navbar">
      <mat-icon mat-icon-button>menu</mat-icon>
      <span>Gestion Foyer</span>
    </div>

    <!-- Center Section (Search) -->
    <div class="navbar-search-container">
      <mat-form-field class="search-field" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Search" />
      </mat-form-field>
    </div>

    <!-- Right Section -->
    <div class="right__navbar">
      <button mat-icon-button class="notification-btn">
        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu" class="profile-btn">
        <div class="icon-circle">
          <mat-icon>person</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>person</mat-icon>Account</button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
