<div>
    <div>
        <h2 style="margin-bottom: 0px;">Home</h2>
        <!-- <app-overview-card></app-overview-card> -->
        <p>Foyer details overview and analytics</p>
    </div>
    <div class="card__components">
        <div class="add__student__card">
            <h1 class="add__student__card-title">
                Let's Add new Student to our beautiful dorm !
            </h1>
            <h3 class="add__student__card-subtitle">
                click this button to add 
            </h3>
            <button (click)="addNewStudent()" class="add__student__card-button">add student</button>
        </div>

        <div class="add__reservation__card">
            <p style="text-align: center; color: #e2e0dc; font-weight: 500;padding-bottom: 24px;">Quick Access</p>
            <div class="add__reservation__card-style" >
                <div class="top__search__icon">                   
                    <span class="material-icons">rocket</span>
                </div>
               
                <h1 class="add__reservation__card-title">
                    Let's Add new Reservation !
                </h1>
                <h3 class="add__reservation__card-subtitle">
                    click this button to add new Reservation
                </h3>
                <button class="add__reservation__card-button" (click)="addNewReservation()">Add Reservation</button>
            </div>
            
        </div>

        <div class="search__student__card">
            <div class="top__search__icon">
                <mat-icon matPrefix>search</mat-icon>
            </div>
           
            <h1 class="search__student__card-title">
                Find the student that you're looking for
            </h1>
            <h3 class="search__student__card-subtitle">
               here you can search for students
            </h3>
            <div>
                <div class="search-container">
                    <div class="search-container-input">
                        <mat-icon matPrefix>search</mat-icon>
                        <input style="border: none;" matInput type="text" placeholder="Search" [(ngModel)]="searchText" />
                    </div>
                 
                    <button class="search__student__card-button">Search</button>
                  </div>
               
            </div>
         
        </div>

       
    </div>

    <div class="bottom__containers" >
        <div class="bottom__card">
            <div class="bottom__card-header">
                <p style="font-weight: 500;">Last Reservations</p>
                <p style="color: #194AD3; font-weight: 500;"><a routerLink="/home/reservation">See details</a></p>            
            </div>
            <app-transaction-card></app-transaction-card>
        </div>

        <div class="bottom__card">
            <div class="bottom__card-header">
                <p style="font-weight: 500;" >Universities</p>
                <p style="color: #194AD3; font-weight: 500;"><a routerLink="/home/universities">See All Universities</a></p>            
            </div>
            <app-universities-card></app-universities-card>
        </div>
    </div>

</div>
