<mat-sidenav-container class="navbar-sidenav-container">

    <mat-sidenav #snav fixedTopGap class="sidenav" mode="side" opened>
      <mat-nav-list>
  
          <h3 mat-subheader class="subheader">
            <mat-icon>home</mat-icon>
            Home
          </h3>
  
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <p mat-line>Dashboard</p>
          </div>
        </a>

        <a mat-list-item routerLink="/customers" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon mat-list-icon>business</mat-icon>
            <p mat-line>Customers</p>
          </div>
        </a>
  
        <a mat-list-item routerLink="/home/users" routerLinkActive="active">
          <div class="nav-item"><!--pour faire l allignement-->
            <mat-icon mat-list-icon>people</mat-icon>
            <p mat-line>Users</p>
          </div>
        </a> 
  
        <a mat-list-item routerLink="/home/account" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon mat-list-icon>person</mat-icon>
            <p routerLink="/home/account" mat-line>Account</p>
          </div>
        </a>
  
        <a mat-list-item routerLink="/auth/login" routerLinkActive="active">
          <div class="nav-item">
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <p mat-line>Log out</p>
          </div>
        </a>
        <h4>Basic mat-select</h4>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select>           
          </mat-select>
        </mat-form-field>
        
        <h4>Basic native select</h4>
        <mat-form-field>
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </mat-nav-list>
  
    </mat-sidenav>
  </mat-sidenav-container>
  