<mat-sidenav-container class="navbar-sidenav-container">
  <mat-sidenav #snav fixedTopGap class="sidenav" mode="side" opened>
    <mat-nav-list>
      <!-- Dashboard -->
      <a mat-list-item routerLink="/home/dashboard/admin" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p mat-line>Dashboard</p>
        </div>
      </a>

      <!-- Universities -->
      <a mat-list-item routerLink="/home/universities" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>business</mat-icon>
          <p mat-line>Universities</p>
        </div>
      </a>

      <!-- Students -->
      <a mat-list-item routerLink="/home/users" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>people</mat-icon>
          <p mat-line>Students</p>
        </div>
      </a>

      <!-- Reservations -->
      <a mat-list-item routerLink="/home/reservation" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>event</mat-icon>
          <p mat-line>Reservations</p>
        </div>
      </a>

      <!-- Account -->
      <a mat-list-item routerLink="/home/account" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>Account</p>
        </div>
      </a>

      <!-- Log Out -->
      <a mat-list-item routerLink="/auth/login" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line>Log out</p>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
