<div>
    <h3 class="pink-text">Use the form below to change your password.</h3>

    <div fxLayout="row" fxLayoutAlign="center stretch">

        <div fxFlex="60%">

            <mat-form-field class="full-width">
                <input
                    matInput
                    placeholder="Current Password"
                    [type]="hideCurrentPassword ? 'password' : 'text'"
                    autocomplete="current-password"
                    [(ngModel)]="currentPassword"
                />
                <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                    {{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input
                    matInput
                    placeholder="New Password"
                    [type]="hideNewPassword ? 'password' : 'text'"
                    autocomplete="new-password"
                    [(ngModel)]="newPassword"
                />
                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
                    {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input
                    matInput
                    placeholder="Confirm New Password"
                    [type]="hideConfirmPassword ? 'password' : 'text'" 
                    autocomplete="new-password"
                />
                <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                    {{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>
            <div style="display: flex; justify-content: space-between">
                <button mat-raised-button class="pink-button" (click)="goToEditProfile($event)">Back</button>
                <button mat-raised-button class="pink-button" [disabled]="isDisabled"(click)=" changePassword()">Save</button>

            </div>
         

        </div>
    </div>
</div>