<div class="form-container">
  <h3 class="pink-text">Update Your Information</h3>

  <div fxLayout="row" fxLayoutAlign="center stretch">
      <div fxFlex="60%">
          
          <!-- Name Field -->
          <mat-form-field class="full-width">
               <input matInput placeholder="Enter your name">
          </mat-form-field>

          <!-- Email Field -->
          <mat-form-field class="full-width">
               <input matInput type="email" placeholder="Enter your email">
          </mat-form-field>
 
          <!-- Address Field -->
          <mat-form-field class="full-width">
               <input matInput placeholder="Enter your address">
          </mat-form-field>

          <!-- Buttons -->
          <div class="button-group">
              <button mat-raised-button class="save-button" (click)="changePassword()">Save</button>
              <button mat-raised-button class="password-button" (click)="goToChangePassword($event)">Change Password</button>
          </div>
      </div>
  </div>
</div>
